<div class="b-form__block b-form__fields clearfix">
    <div class="b-request__title">
        <p>{{item.name}}</p>
        <p><a href="">{{item.description}} <img src="content/images/icons/link.png"></a>
        </p>
    </div>
    <span class="b-form__input b-form__euro b-form__input-middle">
            <label for="loan_amount">Darlehensbetrag</label>
            <input ng-model="item.darlehensbetrag" id="loan_amount" type="text">
        </span>
    <span class="b-form__input years">
            <label for="ownership_select">Laufzeit/Zinsbindung/Tilgungsfrei</label>
            <select id="ownership_select" ng-model="item.laufzeit">
                <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                <option value="1">25 LZ/ 10 ZB/ 1TA</option>
                <option value="2">30 LZ/ 10 ZB/ 1TA%</option>
                <option value="4">30 LZ/ 10 ZB/ 1TA%</option>
                <option value="5">10 LZ/ 10 ZB/ 1TA%</option>
            </select>
        </span>
    <span class="b-form__input b-buy__option">
            <label for="date">&nbsp;</label>
            <img src="content/images/icons/trash_basket.png"
                    class="btn btn__trash btn--light"
                    ng-click="item._delete($index)">
        </span>
</div>