<div class="b-form__block">
    <div class="b-form__group">
        <div class="b-form__col b-form__inline">
                                <span class="b-form__radio">
                                    <input
                                        ng-model="vm.data.sex"
                                        value="1"
                                        type="radio">
                                    <label>Herr</label>
                                </span>
            <span class="b-form__radio">
                                    <input
                                        ng-model="vm.data.sex"
                                        value="2"
                                        type="radio">
                                    <label>Frau</label>
                                </span>
            <span class="b-form__checkbox">
                                    <input name="prefix" type="checkbox"
                                           ng-model="vm.data.prof">
                                    <label>Prof.</label>
                                </span>
            <span class="b-form__checkbox">
                                    <input name="prefix" type="checkbox" ng-model="vm.data.dr">
                                    <label>Dr.</label>
                                </span>
        </div>
        <div class="b-form__half-col b-form__half-col--first">
                                <span class="b-form__input">
                                    <label for="first_name">Vorname</label>
                                    <input id="first_name" type="text" ng-model="vm.data.vorname">
                                </span>
            <span class="b-form__phone clearfix">
                                    <label for="code1">Telefon</label>
                                    <input class="b-form__phone-code" id="code1" type="text"
                                           ng-model="vm.data.code">
                                    <span> - </span>
                                    <input class="b-form__phone-tel" id="phone" type="text"
                                           ng-model="vm.data.phone">
                                </span>
            <span class="b-form__input">
                                    <label for="date_birthd">Geburtsdatum</label>
                                    <input id="date_birthd" type="date" ng-model="vm.data.date_birthd">
                                </span>
        </div>
        <div class="b-form__half-col b-form__half-col--last">
                                <span class="b-form__input">
                                    <label for="second_name">Nachname</label>
                                    <input id="second_name" type="text" ng-model="vm.data.second_name">
                                </span>
            <span class="b-form__input">
                                    <label for="email">E-Mail</label>
                                    <input id="email" type="email" ng-model="vm.data.email">
                                </span>
            <span class="b-form__input">
                                    <label for="comment">weitere Kontaktmöglichkeiten</label>
                                    <textarea id="comment" ng-model="vm.data.comment"></textarea>
                                </span>
        </div>
    </div>

    <!--ADDRESS PART START-->

    <div class="b-form__group b-form__group--same-height">

        <!--SHOW ADDRESS BUTTON-->
        <span ng-hide="vm.show_address" class="b-form__input">
                                <label>&nbsp;</label>
                                <div class="btn btn--light"
                                     ng-click="vm.customAddress()">Abweichende Anschrift erfassen</div>
                            </span>


        <div ng-if="vm.show_address"
             class="b-form__group b-form__group--same-height" style="border-bottom: none;">
            <div class="b-form__half-col b-form__half-col--first">
                                <span class="b-form__address clearfix">
                                    <span class="b-form__input b-form__address-long">
                                        <label for="street_name">Straße</label>
                                        <input id="street_name" type="text"
                                               ng-model="vm.data.street">
                                    </span>
                                    <span class="b-form__input b-form__address-short">
                                        <label for="street_numb">Nr.</label>
                                        <input id="street_numb" type="text"
                                               ng-model="vm.data.house">
                                    </span>
                                </span>
                <span class="b-form__input">
                                    <label for="seit">Wohnhaft seit</label>
                                    <input id="seit" type="text" ng-model="vm.data.seit">
                                </span>
            </div>

            <div class="b-form__half-col b-form__half-col--last">
                                <span class="b-form__address clearfix">
                                    <span class="b-form__input b-form__address-short">
                                        <label for="plz">PLZ</label>
                                        <input id="plz" type="text" ng-model="vm.data.plz">
                                    </span>
                                    <span class="b-form__input b-form__address-long">
                                        <label for="ort">Ort</label>
                                        <input id="ort" type="text" ng-model="vm.data.ort">
                                    </span>
                                </span>
            </div>

        </div>
    </div>
    <!--ADDRESS PART END-->


    <div class="b-form__group">
        <div class="b-form__half-col b-form__half-col--first">
                                <span class="b-form__input">
                                    <label for="famili">Familienstand</label>
                                    <select id="famili" ng-model="vm.data.famili">
                                        <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                        <option value="1">Verheiratet</option>
                                        <option value="2">Ledig</option>
                                        <option value="3">Getrennt lebend</option>
                                        <option value="4">Geschieden</option>
                                        <option value="5">Lebenspartnerschaft</option>
                                        <option value="6">Verwitwet</option>
                                    </select>
                                </span>
            <span class="b-form__input">
                                    <label for="country">Staatsangehörigkeit</label>
                                    <select id="country" class="gwt-ListBox" ng-model="vm.data.country"
                                            convert-to-number>
                                        <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                        <option value="10">Deutschland</option><option
                                            value="13">Frankreich</option><option value="22">Niederlande</option><option
                                            value="197">Schweiz</option><option
                                            value="229">Türkei</option><option
                                            value="33">Großbritannien und Nordirland</option><option value="-2">─────────────────────────</option><option
                                            value="-3">EU-Länder</option><option value="7">Belgien</option><option
                                            value="8">Bulgarien</option><option
                                            value="9">Dänemark</option><option value="10">Deutschland</option><option
                                            value="11">Estland</option><option
                                            value="12">Finnland</option><option value="13">Frankreich</option><option
                                            value="14">Griechenland</option><option
                                            value="15">Irland</option><option value="16">Italien</option><option
                                            value="17">Kroatien</option><option
                                            value="18">Lettland</option><option value="19">Litauen</option><option
                                            value="20">Luxemburg</option><option
                                            value="21">Malta</option><option value="22">Niederlande</option><option
                                            value="23">Österreich</option><option
                                            value="24">Polen</option><option value="25">Portugal</option><option
                                            value="26">Rumänien</option><option
                                            value="27">Schweden</option><option value="28">Slowakei</option><option
                                            value="29">Slowenien</option><option
                                            value="30">Spanien</option><option value="31">Tschechische Republik</option><option
                                            value="32">Ungarn</option><option
                                            value="33">Großbritannien und Nordirland</option><option
                                            value="34">Zypern</option><option
                                            value="-2">─────────────────────────</option><option
                                            value="-3">Nicht-EU-Länder</option><option value="35">Afghanistan</option><option
                                            value="36">Ägypten Arabische Republik</option><option
                                            value="37">Åland</option><option value="38">Albanien</option><option
                                            value="39">Algerien</option><option
                                            value="40">Amerikanisch-Samoa</option><option
                                            value="41">Andorra Fürstentum</option><option
                                            value="42">Angola</option><option value="43">Anguilla</option><option
                                            value="44">Antarktis</option><option
                                            value="45">Antigua und Barbuda</option><option value="46">Äquatorialguinea Republik</option><option
                                            value="47">Argentinien</option><option
                                            value="48">Armenien</option><option value="49">Aruba</option><option
                                            value="50">Aserbaidschan</option><option
                                            value="51">Äthiopien</option><option value="52">Australien</option><option
                                            value="53">Bahamas</option><option
                                            value="54">Bahrain</option><option value="55">Bangladesch</option><option
                                            value="56">Barbados</option><option
                                            value="57">Belize</option><option value="58">Benin</option><option
                                            value="59">Bermuda-Inseln</option><option
                                            value="60">Bhutan</option><option value="61">Bolivien</option><option
                                            value="62">Bosnien und Herzegowina</option><option
                                            value="63">Botsuana</option><option
                                            value="64">Bouvet-Insel</option><option value="65">Brasilien</option><option
                                            value="66">Britische Territorien im Indischen Ozean</option><option
                                            value="67">Brunei Darussalam</option><option
                                            value="68">Burkina Faso</option><option value="69">Burundi</option><option
                                            value="70">Chile</option><option value="71">China</option><option
                                            value="72">Cookinseln</option><option
                                            value="73">Costa Rica</option><option value="74">Côte d'Ivoire </option><option
                                            value="75">Dominica</option><option
                                            value="76">Dominikanische Republik</option><option
                                            value="77">Dschibuti</option><option
                                            value="78">Ecuador</option><option value="79">El Salvador</option><option
                                            value="80">Eritrea</option><option
                                            value="81">Falkland-Inseln (Malvinen)</option><option value="82">Färöer-Inseln</option><option
                                            value="83">Fidschi</option><option
                                            value="84">Franz. Südpolarterritorien</option><option value="85">Französisch-Guyana</option><option
                                            value="86">Französisch-Polynesien</option><option
                                            value="87">Gabun</option><option value="88">Gambia</option><option
                                            value="89">Georgien</option><option
                                            value="90">Ghana</option><option value="91">Gibraltar</option><option
                                            value="92">Grenada</option><option
                                            value="93">Grönland</option><option value="94">Guadeloupe</option><option
                                            value="95">Guam</option><option
                                            value="96">Guatemala</option><option value="97">Guinea</option><option
                                            value="98">Guinea-Bissau</option><option
                                            value="99">Guyana</option><option value="100">Haiti</option><option
                                            value="101">Heard-, MacDonald-Inseln</option><option
                                            value="102">Honduras</option><option
                                            value="103">Hongkong</option><option value="104">Indien</option><option
                                            value="105">Indonesien</option><option
                                            value="106">Irak</option><option
                                            value="107">Iran, Islamische Republik</option><option
                                            value="108">Island</option><option value="109">Israel</option><option
                                            value="110">Jamaika</option><option
                                            value="111">Japan</option><option value="112">Jemen</option><option
                                            value="113">Jordanien</option><option
                                            value="114">Jungfern-Inseln (UK)</option><option value="115">Jungfern-Inseln (USA)</option><option
                                            value="116">Kaiman-Inseln</option><option
                                            value="117">Kambodscha</option><option value="118">Kamerun</option><option
                                            value="119">Kanada</option><option
                                            value="120">Kap Verde</option><option value="121">Kasachstan</option><option
                                            value="122">Katar</option><option
                                            value="123">Kenia</option><option value="124">Kirgisistan</option><option
                                            value="125">Kiribati</option><option
                                            value="126">Kokos-Inseln</option><option value="127">Kolumbien</option><option
                                            value="128">Komoren</option><option
                                            value="129">Kongo (Dem. Rep. Kongo)</option><option value="130">Kongo (Rep. Kongo)</option><option
                                            value="131">Korea, Republik</option><option
                                            value="132">Kosovo</option><option value="133">Kuba</option><option
                                            value="134">Kuwait</option><option
                                            value="135">Laos</option><option value="136">Lesotho</option><option
                                            value="137">Libanon</option><option
                                            value="138">Liberia</option><option value="139">Libysch</option><option
                                            value="140">Liechtenstein</option><option
                                            value="141">Macao</option><option value="142">Madagaskar</option><option
                                            value="143">Malawi</option><option
                                            value="144">Malaysia</option><option value="145">Malediven</option><option
                                            value="146">Mali</option><option
                                            value="147">Marokko</option><option value="148">Marshallinseln</option><option
                                            value="149">Martinique</option><option
                                            value="150">Mauretanien</option><option value="151">Mauritius</option><option
                                            value="152">Mayotte</option><option
                                            value="153">Mazedonien</option><option value="154">Mexiko</option><option
                                            value="155">Mikronesien</option><option
                                            value="156">Moldau, Republik</option><option value="157">Monaco</option><option
                                            value="158">Mongolei</option><option
                                            value="159">Montenegro</option><option value="160">Montserrat</option><option
                                            value="161">Mosambik</option><option
                                            value="162">Myanmar</option><option value="163">Namibia</option><option
                                            value="164">Nauru</option><option
                                            value="165">Nepal</option><option value="166">Neukaledonien</option><option
                                            value="167">Neuseeland</option><option
                                            value="168">Nicaragua</option><option
                                            value="169">Niederländische Antillen</option><option
                                            value="170">Niger</option><option value="171">Nigeria</option><option
                                            value="172">Niue</option><option
                                            value="173">Nordkorea</option><option
                                            value="174">Nordliche Mariannen Insel</option><option value="175">Norfolk-Insel</option><option
                                            value="176">Norwegen</option><option value="177">Oman</option><option
                                            value="178">Pakistan</option><option
                                            value="179">Palästina (besetzte Territorien)</option><option value="180">Palau</option><option
                                            value="181">Panama</option><option
                                            value="182">Papua-Neuguinea</option><option value="183">Paraguay</option><option
                                            value="184">Peru</option><option
                                            value="185">Philippinen</option><option value="186">Pitcairn-Inseln</option><option
                                            value="187">Puerto Rico</option><option value="188">Réunion</option><option
                                            value="189">Ruanda</option><option
                                            value="190">Russische Förderation</option><option
                                            value="191">Salomonen</option><option
                                            value="192">Sambia</option><option value="193">Samoa</option><option
                                            value="194">San Marino</option><option
                                            value="195">São Tomé und Príncipe</option><option
                                            value="196">Saudi-Arabien</option><option
                                            value="197">Schweiz</option><option value="198">Senegal</option><option
                                            value="199">Serbien</option><option
                                            value="200">Seychellen</option><option value="201">Sierra Leone</option><option
                                            value="202">Simbabwe</option><option
                                            value="203">Singapur</option><option value="204">Somalia</option><option
                                            value="205">Sri Lanka</option><option
                                            value="206">St. Helena</option><option
                                            value="207">St. Kitts und Nevis</option><option
                                            value="208">St. Lucia</option><option
                                            value="209">St. Pierre und Miquelon</option><option
                                            value="210">St. Vincent</option><option
                                            value="211">Süd Georgia und Sandw. Inseln</option><option value="212">Südafrika</option><option
                                            value="213">Sudan</option><option
                                            value="214">Suriname</option><option
                                            value="215">Svalbard und Jan Mayen</option><option
                                            value="216">Swasiland</option><option
                                            value="217">Syrien, Arabische Republik</option><option value="218">Tadschikistan</option><option
                                            value="219">Taiwan</option><option value="220">Tansania</option><option
                                            value="221">Thailand</option><option
                                            value="222">Timor-Leste</option><option value="223">Togo</option><option
                                            value="224">Tokelau</option><option
                                            value="225">Tonga</option><option value="226">Trinidad und Tobago</option><option
                                            value="227">Tschad</option><option
                                            value="228">Tunesien</option><option value="229">Türkei</option><option
                                            value="230">Turkmenistan</option><option
                                            value="231">Turks-, Caicos-Inseln</option><option
                                            value="232">Tuvalu</option><option value="233">Übrige Inseln im Pazifik der USA</option><option
                                            value="234">Uganda</option><option value="235">Ukraine</option><option
                                            value="236">Uruguay</option><option
                                            value="237">Usbekistan</option><option value="238">Vanuatu</option><option
                                            value="239">Vatikanstadt</option><option
                                            value="240">Venezuela</option><option value="241">Vereinigte Arabische Emirate</option><option
                                            value="242">Vereinigte Staaten</option><option
                                            value="243">Vietnam</option><option value="244">Wallis und Futuna</option><option
                                            value="245">Weihnachtsinsel (AUS)</option><option
                                            value="246">Weißrussland</option><option value="247">Westsahara</option><option
                                            value="248">Zentralafrikanische Republik</option></select>
                                </span>
        </div>
    </div>


    <div class="b-form__group">
        <div class="b-form__half-col b-form__half-col--first">
                                <span class="b-form__input">
                                    <label for="art">Art der Beschäftigung</label>
                                   <select id="art" class="gwt-ListBox" ng-model="vm.data.art"
                                           convert-to-number><option
                                           value="-1" selected="selected">Bitte wählen Sie ...</option><option
                                           value="1">Angestellter</option><option value="2">Arbeiter</option><option
                                           value="3">Arbeitsloser</option><option value="4">Beamter</option><option
                                           value="5">Freiberufler</option><option value="6">Hausfrau / Hausmann</option><option
                                           value="7">Rentner</option><option value="8">Selbständiger</option></select>
                                </span>
        </div>

        <div class="b-form__half-col b-form__half-col--last">
                                <span class="b-form__input b-form__euro">
                                    <label for="netto">Einkommen Netto</label>
                                    <input id="netto" type="text" ng-model="vm.data.netto">
                                </span>
        </div>
        <div class="b-form__half-col b-form__half-col--first">
                                    <span class="b-form__input">
                                        <label for="arbeitgeber">Arbeitgeber</label>
                                        <input id="arbeitgeber" type="text"
                                               ng-model="vm.data.arbeitgeber">
                                    </span>
        </div>
    </div>
</div>
