<div class="b-form__group anfrage_item">
    <div class="b-form__group-child">
        <span class="b-form__radio">
    <input ng-model="vm.data.reason" name="test" value="offen" id="offen" type="radio">
    <label for="offen">offen</label>
    </span>
        <span class="b-form__radio">
    <input ng-model="vm.data.reason" name="test" value="angefragt" id="requested"
           type="radio">
    <label for="requested">angefragt</label>
    </span>
        <span class="b-form__radio">
    <input ng-model="vm.data.reason" name="test" value="genehmigt" id="approved"
           type="radio">
    <label for="approved">genehmigt</label>
    </span>
        <span class="b-form__radio">
    <input ng-model="vm.data.reason" name="test" value="abgelehnt" id="declined"
           type="radio">
    <label for="declined">abgelehnt</label>
    </span>
        <span class="b-form__radio">
    <input ng-model="vm.data.reason" name="test" value="Storno" id="cancellation"
           type="radio">
    <label for="cancellation">Storno</label>
    </span>
    </div>
    <div class="b-form__group-child">
    <span class="b-form__input">
        <select ng-model="vm.data.bank_id" id="editor" style="width: 160px;">
            <option ng-repeat="selector in vm.banks track by $index" value="{{selector.id}}">{{selector.name}}</option>
        </select>
    </span>
    <span class="b-form__input">
        <label for="anfragestatus">Anfrage Status</label>
        <input ng-model="vm.data.fieldOne" id="anfragestatus" type="text">
    </span>
    <span class="b-form__input">
        <label for="datumanfrage">Datum Anfrage</label>
        <input ng-model="vm.data.fieldTwo" id="datumanfrage" type="text">
    </span>
    <span class="b-form__input">
        <label for="ablehnungsground">Ablehnungsgrund</label>
        <input ng-model="vm.data.fieldThree" id="ablehnungsground" type="text">
    </span>

    <span class="b-form__input">
        <label for="selectablehnungsgrund">ablehnungsgrund</label>
        <select ng-model="vm.data.fieldFour" id="selectablehnungsgrund">
            <option ng-repeat="selector in vm.match track by $index" value="{{$index}}">{{selector}}</option>
        </select>
    </span>
    <span class="b-form__input">
        <label for="Wiedervorlage:">Wiedervorlage:</label>
        <input ng-model="vm.data.wiedervorlage" id="Wiedervorlage:" type="text">
    </span>
    </div>
    <div class="b-form__group-child b-form__group-child-last">
        <span class="text-title">Betrag:</span>
        <span class="sum">{{item.betrag}} EUR</span>
    </div>
    <div class="b-buy__item b-buy__options delete-area">
    <span class="b-form__input">
    <img src="content/images/icons/trash_basket.png"
         class="btn btn__trash btn--light"
         ng-click="$parent.vm.deleteAnfrage(vm.index)">
    </span>
    </div>
</div>