<span class="b-form__address clearfix ">
                                    <span class="b-form__input short_span b-form__address-short">
                                        <label for="darlehensart">Darlehensart</label>
                                        <select ng-model="vm.data.darlehensart" class="short_input" id="darlehensart">
                                            <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                            <option value="1" selected="selected">Immobiliendarlehen</option>
                                            <option value="2" selected="selected">Bauspardarlehen</option>
                                            <option value="3" selected="selected">Förderdarlehen</option>
                                            <option value="4" selected="selected">Sonstiges Darlehen</option>
                                        </select>
                                    </span>
                                    <span class="b-form__input short_span b-form__address-short ">
                                        <label for="grundschuld">Grundschuld</label>
                                        <input ng-model="vm.data.grundschuld" class="short_input" id="grundschuld"
                                               type="text">
                                    </span>
                                <span class="b-form__input short_span b-form__address-short">
                                        <label for="rate">Rate</label>
                                        <input ng-model="vm.data.rate" class="short_input" id="rate" type="text">
                                    </span>
                                <span class="b-form__input short_span b-form__address-short">
                                        <label for="aktuelle_restschuld">Aktuelle Restschuld</label>
                                        <input ng-model="vm.data.aktuelle_restschuld" class="short_input"
                                               id="aktuelle_restschuld" type="text">
                                    </span>
                                <span class="b-form__input short_span b-form__address-short">
                                        <label for="zinsbindung_bis">Zinsbindung bis</label>
                                        <input ng-model="vm.data.zinsbindung_bis" class="short_input"
                                               id="zinsbindung_bis" type="text">
                                    </span>
                                    <span class="b-form__input short_span b-form__address-short">
                                        <label for="laufzeit_bis">Laufzeit bis</label>
                                        <input ng-model="vm.data.laufzeit_bis" class="short_input" id="laufzeit_bis"
                                               type="text">
                                    </span>
                                    <span class="b-form__input short_span b-form__address-short">
                                        <img src="content/images/icons/trash_basket.png"
                                             class="btn btn__trash btn--light"
                                             style="margin-top: 15px;"
                                             ng-click="$parent.deleteDarlehen($index)">
                                    </span>
                                </span>