<h4 class="b-form__sub-header">Nutzung</h4>
<div class="b-form__block">
    <div class="b-form__group">
        <div class="b-form__col">
            <span class="b-form__input b-form__squere">
                <label for="gesamte">gesamte Wohnfläche</label>
                <input ng-model="vm.nutzung.gesamte" id="gesamte" type="text">
            </span>
            <span class="b-form__radio-label">
                <label>Wie wird die Wohnfläche genutzt?</label>
                <span class="b-form__col b-form__inline">
                    <span class="b-form__radio">
                        <input ng-model="vm.nutzung.wie" value="Eigengenutzt"
                                name="vorh5" id="Eigengenutzt" type="radio">
                        <label for="Eigengenutzt">Eigengenutzt</label>
                    </span>
                    <span class="b-form__radio">
                        <input ng-model="vm.nutzung.gewerbeflache" value="Vermietet"
                                name="vorh5" id="Vermietet" type="radio">
                        <label for="Vermietet">Vermietet</label>
                    </span>
                    <span class="b-form__radio">
                        <input ng-model="vm.nutzung.gewerbeflache" value="Beides" name="vorh5"
                                id="Beides" type="radio">
                        <label for="Beides">Beides</label>
                    </span>
                </span>
            </span>
            <span class="b-form__radio-label">
                <label for="first_name">Gewerbefläche vorhanden</label>
                <span class="b-form__col b-form__inline">
                    <span class="b-form__radio">
                        <input ng-model="vm.nutzung.gewerbeflache" value="1" name="vorh6"
                                id="gewerbeflache" type="radio">
                        <label for="gewerbeflache">ja</label>
                    </span>
                    <span class="b-form__radio">
                        <input ng-model="vm.nutzung.gewerbeflache" value="0" name="vorh6"
                                id="gewerbeflachenein" type="radio">
                        <label for="gewerbeflachenein">nein</label>
                    </span>
                </span>
            </span>
        </div>
    </div>
</div>

<h4 class="b-form__sub-header">Zusätzliche Angaben</h4>
<div class="b-form__block">
    <div class="b-form__group b-form__group--same-height70">
        <div class="b-form__col">
            <span class="b-form__radio-label">
                <label>Erbbaurecht vorhanden?</label>
                <span class="b-form__col b-form__inline">
                    <span class="b-form__radio">
                        <input ng-model="vm.zusatzliche.erbbaurecht" value="1" name="vorh7"
                                id="erbbaurecht" type="radio">
                        <label for="erbbaurecht">ja</label>
                    </span>
                    <span class="b-form__radio">
                        <input ng-model="vm.zusatzliche.erbbaurecht" value="0" name="vorh7"
                                id="erbbaurechtnein" type="radio">
                        <label for="erbbaurechtnein">nein</label>
                    </span>
                </span>
            </span>
        </div>
    </div>

    <div class="b-form__group b-form__group--same-height70">
        <div class="b-form__col">
            <span class="b-form__radio-label">
                <label for="first_name">Wurde das Objekt in der Vergangenheit modernisiert?</label>
                <span class="b-form__col b-form__inline">
                    <span class="b-form__radio">
                        <input ng-model="vm.zusatzliche.wurde" value="1" name="vorh8"
                                id="Wurdeja" type="radio">
                        <label for="Wurdeja">ja</label>
                    </span>
                    <span class="b-form__radio">
                        <input ng-model="vm.zusatzliche.wurde" value="0" name="vorh8"
                                id="Wurdenein" type="radio">
                        <label for="Wurdenein">nein</label>
                    </span>
                </span> 
            </span>
        </div>
    </div>
</div>