<main class="b-main">
    <div class="container">
        <div class="b-tabs information clearfix">
            <ul class="b-tabs__titles clearfix dashboard_list">
                <li class="b-tabs__titles-item">
                    <!--ng-class="'b-tabs__titles-item&#45;&#45;current'"-->
                    <!--&gt;-->
                    <span>Zuletzt</span>
                </li>
                <li class="b-tabs__titles-item">
                    <!--ng-class="'b-tabs__titles-item&#45;&#45;current'"-->
                    <!--&gt;-->
                    <span>Wiedervorlage</span>
                </li>
            </ul>

            <div class="b-tabs__block-left">
                <div class="b-form__title-dark b-form__title">Zuletzt bearbeitete Vorgänge</div>
                <div class="b-form__block">
                    <span class="b-form__checkbox">
                        <input name="notify" id="notify" type="checkbox">
                        <label for="notify">friedrich@ultima.de per E-mail über neue Ereignisse benachrichtigen</label>
                    </span>

                    <div class="b-tabs__table-info">
                        <div class="block-table">
                            <table>
                                <tbody>
                                <tr ng-repeat="item in vm.users"
                                    ui-sref="app.tabs.antragsteller({id: item.id})">
                                    <td><img src="content/images/icons/singl_home.png" alt=""></td>
                                    <td><a href="">{{item.anstragsteller}}</a></td>
                                    <td>{{item.transactionId}}</td>
                                    <td>{{item.updated}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="b-tabs__block-right">
                <form ng-submit="vm.submit()" name="newVorgang">
                    <div class="b-form__title-dark b-form__title">Neuer Vorgang</div>
                    <div class="b-form__block">
                        <!--<div class="b-tabs__text">Testumgebung: Vorgänge können nicht abgeschlossen werden!</div>-->
                        <div class="b-tabs__table-info">
                            <span class="b-form__input">
                                <label for="usage">Verwendungszweck</label>
                                <select id="usage" name="usage" ng-model="vm.data.verwendungszweck" required>
                                    <!--<option value="-1" selected="selected">Bitte wählen Sie ...</option>-->
                                    <option value="1" selected="selected">Ratenkredit</option>
                                    <option value="2">Baufinanzierung</option>
                                </select>
                            </span>
                            <div class="b-form__child-item">
                                <h4>Wie wird die lmmobilie genutzt?</h4>
                                <span class="b-form__radio">
                                    <input name="eigennutzung" id="eigennutzung" type="radio" value="Eigennutzung"
                                        ng-model="vm.data.genutzt">
                                    <label for="eigennutzung">Eigennutzung</label>
                                </span>
                                <span class="b-form__radio">
                                    <input name="vermietet" id="vermietet" type="radio" value="Vermietet"
                                        ng-model="vm.data.genutzt">
                                    <label for="vermietet">Vermietet</label>
                                </span>
                                <span class="b-form__radio">
                                    <input name="beides" id="beides" type="radio" value="Beides" ng-model="vm.data.genutzt">
                                    <label for="beides">Beides</label>
                                </span>
                                <span class="b-form__input">
                                    <label for="plz">PLZ</label>
                                    <input id="plz" ng-model="vm.data.plz" type="text">
                                </span>
                                <span class="b-form__input b-form__euro">
                                    <label for="finanzbedarf">Finanzbedarf</label>
                                    <input ng-model="vm.data.finanzbedarf" id="finanzbedarf" type="text">
                                </span>
                            </div>
                            <span class="b-form__input">
                                <label for="werbung">Werbung</label>
                                <select ng-model="vm.data.werbungId" id="werbung" required>
                                    <option ng-repeat="selector in vm.werbung track by $index" value="{{$index}}">{{selector}}</option>
                                </select>
                            </span>
                            <span class="b-form__input">
                                <label for="property">Kontaktart</label>
                                <select id="property" ng-model="vm.data.kontaktartId" required>
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">E-Mail</option>
                                    <option value="2">telefonisch</option>
                                    <option value="3">per Post</option>
                                    <option value="4">direkt</option>
                                    <option value="5">Internet</option>
                                </select>
                            </span>
                            <div class="b-form__child-item" ng-init="vm.data.partner='0'">
                                <h4>Partnergeschäft</h4>
                                <span class="b-form__radio">
                                        <input ng-model="vm.data.partner" value="0" id="nein" type="radio">
                                        <label for="nein">nein</label>
                                    </span>
                                <span class="b-form__radio">
                                        <input ng-model="vm.data.partner" value="1" id="ja" type="radio">
                                        <label for="ja">ja</label>
                                    </span>
                                <select id="partners" ng-model="vm.data.partnerId" required ng-if="vm.data.partner=='1'">
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">Michael Tauchert</option>
                                    <option value="2">Hermann Kahlke</option>
                                    <option value="3">Volker Schwarz</option>
                                    <option value="4">Arne Nöthling</option>
                                    <option value="5">Friedegunde Wilhelm</option>
                                </select>
                            </div>
                            <div class="b-form__child-item">

                                <div class="b-form__title-btn b-form__title">
                                    <b class="b-form__right-list">
                                        <button ng-disabled="!newVorgang.$valid && !radiobuttongroup.$valid" type="submit" class="btn btn--light">
                                            Neuer Vorgang
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>