<div class="b-form__group b-buy">
    <div class="b-buy__item b-buy__name">
        Mietausgaben
    </div>
    <div class="b-buy__item b-buy__bet">
                                    <span class="b-form__input b-form__euro">
                                        <label for="first_name">Betrag</label>
                                        <input id="first_name" type="text" ng-model="$parent.bank.betrag">
                                    </span>
    </div>
    <div class="b-buy__item b-buy__begin">
                                 <span class="b-buy__checkbox clearfix">
                                    <input name="prefix" id="dr" type="checkbox" ng-model="$parent.bank.entfallen_finanzierung">
                                    <label for="dr">Entfallen mit Finanzierung</label>
                                </span>
    </div>
    <div class="b-buy__item b-buy__options">
                                     <span class="b-form__input">
                                        <img src="content/images/icons/trash_basket.png"
                                             class="btn btn__trash btn--light"
                                             ng-click="$parent.vm._deleteBank($parent.key,$parent.bank.side)">
                                    </span>
    </div>
</div>
