<div class="b-form__block">
    <div class="b-form__group">
        <div class="b-form__col b-form__inline">
                                <span class="b-form__radio">
                                    <input
                                        ng-model="vm.data.sex"
                                        value="1"
                                        type="radio">
                                    <label>Herr</label>
                                </span>
            <span class="b-form__radio">
                                    <input
                                        ng-model="vm.data.sex"
                                        value="2"
                                        type="radio">
                                    <label>Frau</label>
                                </span>
            <span class="b-form__checkbox">
                                    <input name="prefix" type="checkbox"
                                           ng-model="vm.data.prof"
                                           ng-checked="!!vm.data.prof"
                                           >
                                    <label>Prof.</label>
                                </span>
            <span class="b-form__checkbox">
                                    <input name="prefix" type="checkbox" ng-model="vm.data.dr" ng-checked="!!vm.data.dr">
                                    <label>Dr.</label>
                                </span>
        </div>
        <div class="b-form__half-col b-form__half-col--first">
                                <span class="b-form__input">
                                    <label for="first_name">Vorname</label>
                                    <input id="first_name" type="text" ng-model="vm.data.vorname">
                                </span>
            <span class="b-form__phone clearfix">
                                    <label for="code1">Telefon</label>
                                    <input class="b-form__phone-code" id="code1" type="text"
                                           ng-model="vm.data.code">
                                    <span> - </span>
                                    <input class="b-form__phone-tel" id="phone" type="text"
                                           ng-model="vm.data.phone">
                                </span>
            <span class="b-form__input">
                                    <label for="date_birthd">Geburtsdatum</label>
                                    <input id="date_birthd" type="date" ng-model="vm.data.date_birthd">
                                </span>
        </div>
        <div class="b-form__half-col b-form__half-col--last">
                                <span class="b-form__input">
                                    <label for="second_name">Nachname</label>
                                    <input id="second_name" type="text" ng-model="vm.data.second_name">
                                </span>
            <span class="b-form__input">
                                    <label for="email">E-Mail</label>
                                    <input id="email" type="email" ng-model="vm.data.email">
                                </span>
            <span class="b-form__input">
                                    <label for="comment">weitere Kontaktmöglichkeiten</label>
                                    <textarea id="comment" ng-model="vm.data.comment"></textarea>
                                </span>
        </div>
    </div>

    <!--ADDRESS PART START-->

    <div class="b-form__group b-form__group--same-height">

        <!--SHOW ADDRESS BUTTON-->
        <!--<span ng-hide="vm.show_address" class="b-form__input">
                                <label>&nbsp;</label>
                                <div class="btn btn--light"
                                     ng-click="vm.customAddress()">Abweichende Anschrift erfassen</div>
                            </span>-->


        <div 
             class="b-form__group b-form__group--same-height" style="border-bottom: none;">
            <div class="b-form__half-col b-form__half-col--first">
                                <span class="b-form__address clearfix">
                                    <span class="b-form__input b-form__address-long">
                                        <label for="street_name">Straße</label>
                                        <input id="street_name" type="text"
                                               ng-model="vm.data.street">
                                    </span>
                                    <span class="b-form__input b-form__address-short">
                                        <label for="street_numb">Nr.</label>
                                        <input id="street_numb" type="text"
                                               ng-model="vm.data.house">
                                    </span>
                                </span>
                <span class="b-form__input">
                                    <label for="seit">Wohnhaft seit</label>
                                    <input id="seit" type="text" ng-model="vm.data.seit">
                                </span>
            </div>

            <div class="b-form__half-col b-form__half-col--last">
                                <span class="b-form__address clearfix">
                                    <span class="b-form__input b-form__address-short">
                                        <label for="plz">PLZ</label>
                                        <input id="plz" type="text" ng-model="vm.data.plz">
                                    </span>
                                    <span class="b-form__input b-form__address-long">
                                        <label for="ort">Ort</label>
                                        <input id="ort" type="text" ng-model="vm.data.ort">
                                    </span>
                                </span>
            </div>

        </div>
    </div>
    <!--ADDRESS PART END-->


    <div class="b-form__group">
        <div class="b-form__half-col b-form__half-col--first">
                                <span class="b-form__input">
                                    <label for="famili">Familienstand</label>
                                    <select id="famili" ng-model="vm.data.famili">
                                        <option ng-value="-1" selected="selected">Bitte wählen Sie ...</option>
                                        <option ng-value="1">Verheiratet</option>
                                        <option ng-value="2">Ledig</option>
                                        <option ng-value="3">Getrennt lebend</option>
                                        <option ng-value="4">Geschieden</option>
                                        <option ng-value="5">Lebenspartnerschaft</option>
                                        <option ng-value="6">Verwitwet</option>
                                    </select>
                                </span>
            <span class="b-form__input">
                                    <label for="country">Staatsangehörigkeit</label>
                                    <select id="country" class="gwt-ListBox" ng-model="vm.data.country"
                                            convert-to-number>
                                        <option ng-value="-1" selected="selected">Bitte wählen Sie ...</option>
                                        <option ng-value="10">Deutschland</option><option
                                            ng-value="13">Frankreich</option><option ng-value="22">Niederlande</option><option
                                            ng-value="197">Schweiz</option><option
                                            ng-value="229">Türkei</option><option
                                            ng-value="33">Großbritannien und Nordirland</option><option ng-value="-2">─────────────────────────</option><option
                                            ng-value="-3">EU-Länder</option><option ng-value="7">Belgien</option><option
                                            ng-value="8">Bulgarien</option><option
                                            ng-value="9">Dänemark</option><option ng-value="10">Deutschland</option><option
                                            ng-value="11">Estland</option><option
                                            ng-value="12">Finnland</option><option ng-value="13">Frankreich</option><option
                                            ng-value="14">Griechenland</option><option
                                            ng-value="15">Irland</option><option ng-value="16">Italien</option><option
                                            ng-value="17">Kroatien</option><option
                                            ng-value="18">Lettland</option><option ng-value="19">Litauen</option><option
                                            ng-value="20">Luxemburg</option><option
                                            ng-value="21">Malta</option><option ng-value="22">Niederlande</option><option
                                            ng-value="23">Österreich</option><option
                                            ng-value="24">Polen</option><option ng-value="25">Portugal</option><option
                                            ng-value="26">Rumänien</option><option
                                            ng-value="27">Schweden</option><option ng-value="28">Slowakei</option><option
                                            ng-value="29">Slowenien</option><option
                                            ng-value="30">Spanien</option><option ng-value="31">Tschechische Republik</option><option
                                            ng-value="32">Ungarn</option><option
                                            ng-value="33">Großbritannien und Nordirland</option><option
                                            ng-value="34">Zypern</option><option
                                            ng-value="-2">─────────────────────────</option><option
                                            ng-value="-3">Nicht-EU-Länder</option><option ng-value="35">Afghanistan</option><option
                                            ng-value="36">Ägypten Arabische Republik</option><option
                                            ng-value="37">Åland</option><option ng-value="38">Albanien</option><option
                                            ng-value="39">Algerien</option><option
                                            ng-value="40">Amerikanisch-Samoa</option><option
                                            ng-value="41">Andorra Fürstentum</option><option
                                            ng-value="42">Angola</option><option ng-value="43">Anguilla</option><option
                                            ng-value="44">Antarktis</option><option
                                            ng-value="45">Antigua und Barbuda</option><option ng-value="46">Äquatorialguinea Republik</option><option
                                            ng-value="47">Argentinien</option><option
                                            ng-value="48">Armenien</option><option ng-value="49">Aruba</option><option
                                            ng-value="50">Aserbaidschan</option><option
                                            ng-value="51">Äthiopien</option><option ng-value="52">Australien</option><option
                                            ng-value="53">Bahamas</option><option
                                            ng-value="54">Bahrain</option><option ng-value="55">Bangladesch</option><option
                                            ng-value="56">Barbados</option><option
                                            ng-value="57">Belize</option><option ng-value="58">Benin</option><option
                                            ng-value="59">Bermuda-Inseln</option><option
                                            ng-value="60">Bhutan</option><option ng-value="61">Bolivien</option><option
                                            ng-value="62">Bosnien und Herzegowina</option><option
                                            ng-value="63">Botsuana</option><option
                                            ng-value="64">Bouvet-Insel</option><option ng-value="65">Brasilien</option><option
                                            ng-value="66">Britische Territorien im Indischen Ozean</option><option
                                            ng-value="67">Brunei Darussalam</option><option
                                            ng-value="68">Burkina Faso</option><option ng-value="69">Burundi</option><option
                                            ng-value="70">Chile</option><option ng-value="71">China</option><option
                                            ng-value="72">Cookinseln</option><option
                                            ng-value="73">Costa Rica</option><option ng-value="74">Côte d'Ivoire </option><option
                                            ng-value="75">Dominica</option><option
                                            ng-value="76">Dominikanische Republik</option><option
                                            ng-value="77">Dschibuti</option><option
                                            ng-value="78">Ecuador</option><option ng-value="79">El Salvador</option><option
                                            ng-value="80">Eritrea</option><option
                                            ng-value="81">Falkland-Inseln (Malvinen)</option><option ng-value="82">Färöer-Inseln</option><option
                                            ng-value="83">Fidschi</option><option
                                            ng-value="84">Franz. Südpolarterritorien</option><option ng-value="85">Französisch-Guyana</option><option
                                            ng-value="86">Französisch-Polynesien</option><option
                                            ng-value="87">Gabun</option><option ng-value="88">Gambia</option><option
                                            ng-value="89">Georgien</option><option
                                            ng-value="90">Ghana</option><option ng-value="91">Gibraltar</option><option
                                            ng-value="92">Grenada</option><option
                                            ng-value="93">Grönland</option><option ng-value="94">Guadeloupe</option><option
                                            ng-value="95">Guam</option><option
                                            ng-value="96">Guatemala</option><option ng-value="97">Guinea</option><option
                                            ng-value="98">Guinea-Bissau</option><option
                                            ng-value="99">Guyana</option><option ng-value="100">Haiti</option><option
                                            ng-value="101">Heard-, MacDonald-Inseln</option><option
                                            ng-value="102">Honduras</option><option
                                            ng-value="103">Hongkong</option><option ng-value="104">Indien</option><option
                                            ng-value="105">Indonesien</option><option
                                            ng-value="106">Irak</option><option
                                            ng-value="107">Iran, Islamische Republik</option><option
                                            ng-value="108">Island</option><option ng-value="109">Israel</option><option
                                            ng-value="110">Jamaika</option><option
                                            ng-value="111">Japan</option><option ng-value="112">Jemen</option><option
                                            ng-value="113">Jordanien</option><option
                                            ng-value="114">Jungfern-Inseln (UK)</option><option ng-value="115">Jungfern-Inseln (USA)</option><option
                                            ng-value="116">Kaiman-Inseln</option><option
                                            ng-value="117">Kambodscha</option><option ng-value="118">Kamerun</option><option
                                            ng-value="119">Kanada</option><option
                                            ng-value="120">Kap Verde</option><option ng-value="121">Kasachstan</option><option
                                            ng-value="122">Katar</option><option
                                            ng-value="123">Kenia</option><option ng-value="124">Kirgisistan</option><option
                                            ng-value="125">Kiribati</option><option
                                            ng-value="126">Kokos-Inseln</option><option ng-value="127">Kolumbien</option><option
                                            ng-value="128">Komoren</option><option
                                            ng-value="129">Kongo (Dem. Rep. Kongo)</option><option ng-value="130">Kongo (Rep. Kongo)</option><option
                                            ng-value="131">Korea, Republik</option><option
                                            ng-value="132">Kosovo</option><option ng-value="133">Kuba</option><option
                                            ng-value="134">Kuwait</option><option
                                            ng-value="135">Laos</option><option ng-value="136">Lesotho</option><option
                                            ng-value="137">Libanon</option><option
                                            ng-value="138">Liberia</option><option ng-value="139">Libysch</option><option
                                            ng-value="140">Liechtenstein</option><option
                                            ng-value="141">Macao</option><option ng-value="142">Madagaskar</option><option
                                            ng-value="143">Malawi</option><option
                                            ng-value="144">Malaysia</option><option ng-value="145">Malediven</option><option
                                            ng-value="146">Mali</option><option
                                            ng-value="147">Marokko</option><option ng-value="148">Marshallinseln</option><option
                                            ng-value="149">Martinique</option><option
                                            ng-value="150">Mauretanien</option><option ng-value="151">Mauritius</option><option
                                            ng-value="152">Mayotte</option><option
                                            ng-value="153">Mazedonien</option><option ng-value="154">Mexiko</option><option
                                            ng-value="155">Mikronesien</option><option
                                            ng-value="156">Moldau, Republik</option><option ng-value="157">Monaco</option><option
                                            ng-value="158">Mongolei</option><option
                                            ng-value="159">Montenegro</option><option ng-value="160">Montserrat</option><option
                                            ng-value="161">Mosambik</option><option
                                            ng-value="162">Myanmar</option><option ng-value="163">Namibia</option><option
                                            ng-value="164">Nauru</option><option
                                            ng-value="165">Nepal</option><option ng-value="166">Neukaledonien</option><option
                                            ng-value="167">Neuseeland</option><option
                                            ng-value="168">Nicaragua</option><option
                                            ng-value="169">Niederländische Antillen</option><option
                                            ng-value="170">Niger</option><option ng-value="171">Nigeria</option><option
                                            ng-value="172">Niue</option><option
                                            ng-value="173">Nordkorea</option><option
                                            ng-value="174">Nordliche Mariannen Insel</option><option ng-value="175">Norfolk-Insel</option><option
                                            ng-value="176">Norwegen</option><option ng-value="177">Oman</option><option
                                            ng-value="178">Pakistan</option><option
                                            ng-value="179">Palästina (besetzte Territorien)</option><option ng-value="180">Palau</option><option
                                            ng-value="181">Panama</option><option
                                            ng-value="182">Papua-Neuguinea</option><option ng-value="183">Paraguay</option><option
                                            ng-value="184">Peru</option><option
                                            ng-value="185">Philippinen</option><option ng-value="186">Pitcairn-Inseln</option><option
                                            ng-value="187">Puerto Rico</option><option ng-value="188">Réunion</option><option
                                            ng-value="189">Ruanda</option><option
                                            ng-value="190">Russische Förderation</option><option
                                            ng-value="191">Salomonen</option><option
                                            ng-value="192">Sambia</option><option ng-value="193">Samoa</option><option
                                            ng-value="194">San Marino</option><option
                                            ng-value="195">São Tomé und Príncipe</option><option
                                            ng-value="196">Saudi-Arabien</option><option
                                            ng-value="197">Schweiz</option><option ng-value="198">Senegal</option><option
                                            ng-value="199">Serbien</option><option
                                            ng-value="200">Seychellen</option><option ng-value="201">Sierra Leone</option><option
                                            ng-value="202">Simbabwe</option><option
                                            ng-value="203">Singapur</option><option ng-value="204">Somalia</option><option
                                            ng-value="205">Sri Lanka</option><option
                                            ng-value="206">St. Helena</option><option
                                            ng-value="207">St. Kitts und Nevis</option><option
                                            ng-value="208">St. Lucia</option><option
                                            ng-value="209">St. Pierre und Miquelon</option><option
                                            ng-value="210">St. Vincent</option><option
                                            ng-value="211">Süd Georgia und Sandw. Inseln</option><option ng-value="212">Südafrika</option><option
                                            ng-value="213">Sudan</option><option
                                            ng-value="214">Suriname</option><option
                                            ng-value="215">Svalbard und Jan Mayen</option><option
                                            ng-value="216">Swasiland</option><option
                                            ng-value="217">Syrien, Arabische Republik</option><option ng-value="218">Tadschikistan</option><option
                                            ng-value="219">Taiwan</option><option ng-value="220">Tansania</option><option
                                            ng-value="221">Thailand</option><option
                                            ng-value="222">Timor-Leste</option><option ng-value="223">Togo</option><option
                                            ng-value="224">Tokelau</option><option
                                            ng-value="225">Tonga</option><option ng-value="226">Trinidad und Tobago</option><option
                                            ng-value="227">Tschad</option><option
                                            ng-value="228">Tunesien</option><option ng-value="229">Türkei</option><option
                                            ng-value="230">Turkmenistan</option><option
                                            ng-value="231">Turks-, Caicos-Inseln</option><option
                                            ng-value="232">Tuvalu</option><option ng-value="233">Übrige Inseln im Pazifik der USA</option><option
                                            ng-value="234">Uganda</option><option ng-value="235">Ukraine</option><option
                                            ng-value="236">Uruguay</option><option
                                            ng-value="237">Usbekistan</option><option ng-value="238">Vanuatu</option><option
                                            ng-value="239">Vatikanstadt</option><option
                                            ng-value="240">Venezuela</option><option ng-value="241">Vereinigte Arabische Emirate</option><option
                                            ng-value="242">Vereinigte Staaten</option><option
                                            ng-value="243">Vietnam</option><option ng-value="244">Wallis und Futuna</option><option
                                            ng-value="245">Weihnachtsinsel (AUS)</option><option
                                            ng-value="246">Weißrussland</option><option ng-value="247">Westsahara</option><option
                                            ng-value="248">Zentralafrikanische Republik</option></select>
                                </span>
        </div>
    </div>


    <div class="b-form__group">
        <div class="b-form__half-col b-form__half-col--first">
                                <span class="b-form__input">
                                    <label for="art">Art der Beschäftigung</label>
                                   <select id="art" class="gwt-ListBox" ng-model="vm.data.art"
                                           convert-to-number><option
                                           ng-value="-1" selected="selected">Bitte wählen Sie ...</option><option
                                           ng-value="1">Angestellter</option><option ng-value="2">Arbeiter</option><option
                                           ng-value="3">Arbeitsloser</option><option ng-value="4">Beamter</option><option
                                           ng-value="5">Freiberufler</option><option ng-value="6">Hausfrau / Hausmann</option><option
                                           ng-value="7">Rentner</option><option ng-value="8">Selbständiger</option></select>
                                </span>
        </div>

        <div class="b-form__half-col b-form__half-col--last">
                                <span class="b-form__input b-form__euro">
                                    <label for="netto">Einkommen Netto</label>
                                    <input id="netto" type="text" ng-model="vm.data.netto">
                                </span>
        </div>
        <div class="b-form__half-col b-form__half-col--first">
                                    <span class="b-form__input">
                                        <label for="arbeitgeber">Arbeitgeber</label>
                                        <input id="arbeitgeber" type="text"
                                               ng-model="vm.data.arbeitgeber">
                                    </span>
        </div>
    </div>
</div>
